header {
    background-image: url(assets/backg.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.nav-link {
    color: white;
}

#navbarNav .nav-link:hover {
    color: white;
    font-weight: bold;
    transition: 0.2s;
}

@media (max-width: 990px) {
    .nav-item {
        background-color: white; 
    }

    .section-text {
        padding: 20px;
    }
    
    #navbarNav .nav-link:hover {
        color: black;
    }
}

@media (max-width: 1024px) {
    #menu {
        padding: 0;    
    }

    .nav-item {
        text-align: center;
    }

    .nav-link {
        color: black;
    }

    .navbar-brand, .nav-item {
        padding: 15px;
    }

    .navbar-toggler {
        margin-right: 15px;
    }

    #navbarNav {
        margin-top: 15px;
    }
}

.bottom-header {
    margin-top: 10%;
    padding-bottom: 10%;
}

section {
    background-color: rgb(229, 229, 229);
    padding-bottom: 25px;
}

.section-header {
    padding: 20px;
    text-align: center;
}

.section-content {
    background-color: white;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

footer h4 {
  margin-top: 0;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #fff;
}

footer p {
  margin-bottom: 0;
}

.foot {
    text-align: center;
    margin-bottom: 20px;
}

.list {
	padding: 15px;
    text-align: center;
}

.menu-icon {
    font-size: 48px;
}

.menu-icon i {
    transform: transform 0.2s;
    transition: 0.5s;
}

.menu-icon i:hover{
    transform: scale(1.1);
}

.col-lg-4 {
    transition: 0.2s;
}